<% include ../partials/header %>

<div class="jumbotron">
        <h1 class="display-3">140-390 Full Stack Web </h1>
        <p class="lead">Dr. Korawit prutsachainimmit</p>
        <hr class="my-2">
        <p>5930213022</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="about" role="button">About Me</a>
        </p>
    </div>

<% include ../partials/footer %>

