<% include ../partials/header %>
<!-- การทำ update data -->
<div class="col" style="text-align: center;">
  <h1>ADD NEW PRODUCT</h1>
</div>
<br><br>
<form action="/products/addNewProduct" method="POST">
<div class="form-group">
  <label for="">ID</label>
  <input type="number"
    class="form-control"  name="idProduct" id="idProduct" aria-describedby="helpId" placeholder="" >
  <small id="helpId" class="form-text text-muted">Products ID</small>
</div>
<div class="form-group">
  <label for="">Title</label>
  <input type="text"
    class="form-control"  name="titleProduct" id="titleProduct" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Products Title</small>
</div>
<div class="form-group">
    <label for="">Price</label>
    <input type="number"
      class="form-control" name="priceProduct" id="priceProduct" aria-describedby="helpId" min="0" placeholder="">
    <small id="helpId" class="form-text text-muted">Products Price</small>
  </div>
  <div class="form-group">
      <label for="">Date</label>
      <input class="form-control" name="datetime" id="datepicker">
      <small id="helpId" class="form-text text-muted">Date time</small>
      <script>
        $('#datepicker').datepicker({
          uiLibrary: 'bootstrap4'
        });
      </script>
    </div> 
<button type="submit" class="btn btn-primary">Add New</button>
&nbsp;&nbsp;
<a href="/products">Cancel</a>
</form>
<% include ../partials/footer %>
