<% include ../partials/header %>
  <!-- การทำ update data -->
  <div class="col" style="text-align: center;">
    <h1>UPDATE DATA</h1>
  </div>
  <form action="/products/update" method="POST">
    <div class="form-group">
      <label for="">ID</label>
      <input type="number" class="form-control" value="<%=product.id %>" name="id" id="id" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Products ID</small>
    </div>
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" value="<%=product.title %>" name="title" id="title" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Products Title</small>
    </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="number" class="form-control" value="<%=product.price %>" name="price" id="price" aria-describedby="helpId" min="0"
        placeholder="">
      <small id="helpId" class="form-text text-muted">Products Price</small>
    </div>

    <div class="form-group">
      <label for="">Date</label>
      <input class="form-control" name="datetime" id="datepicker" value="<%=product.created_at%>" disabled>
      <small id="helpId" class="form-text text-muted">Date time</small>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    &nbsp;&nbsp;
    <a href="/products">Cancel</a>
  </form>
  <% include ../partials/footer %>