<% include ../partials/header %>
    <!-- การทำ update data -->
    <div class="col" style="text-align: center;">
        <h1>UPDATE DATA</h1>
    </div>
    <form action="/users/update" method="POST">
        <div class="form-group">
            <label for="">ID</label>
            <input type="number" class="form-control" value="<%=user.id %>" name="uid" id="uid" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">User ID</small>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" class="form-control" value="<%=user.email %>" name="email" id="email" aria-describedby="helpId" placeholder="">
            <small id="helpId" class="form-text text-muted">Email</small>
          </div>
          <div class="form-group">
            <label for="">password</label>
            <input type="password" class="form-control" value="<%=user.password %>" name="password" id="password" aria-describedby="helpId" min="0"
              placeholder="">
            <small id="helpId" class="form-text text-muted">Password</small>
          </div>
          <div class="form-group">
              <label for="">Date</label>
              <input class="form-control" name="datetime" id="datepicker" value="<%=user.created_at%>">
              <small id="helpId" class="form-text text-muted">Date time</small>
              <script>
                $('#datepicker').datepicker({
                  uiLibrary: 'bootstrap4'
                });
              </script>
            </div>
          <button type="submit" class="btn btn-primary">Save</button>
          &nbsp;&nbsp;
          <a href="/users">Cancel</a>
        </form>
    <% include ../partials/footer %>