<% include ../partials/header %>
    <br>
    <br>
    <div class="col" style="text-align: center;">
        <h1>ยอดรวมการสั่งซื้อสินค้าของแต่ละ USER</h1>
    </div>
    <br>
    <button type="button " class="btn btn-success" onclick="printJS('UsersTB', 'html')">Print</button>
    <br>
    <br>
    <table class="table table-striped" id="UsersTB">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(data){ %>
                <tr>
                    <td scope="row">
                        <%=data.name %>
                    </td>
                    <td>
                        <%=data.email %>
                    </td>
                    <td>
                        <%=data.sum %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <% include ../partials/footer %>